<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Account">
   <h1>${i18n('account.contentDescr')}</h1>
   <hr>
   <div class="row">
      <!-- left column -->
      <div class="col-md-3">
         <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>${i18n('account.photoUploadSentence')}</h6>
            <input type="file" class="form-control">
         </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
         <h3>${i18n('account.persInfo')}</h3>
         <form class="form-horizontal" action="/account" method="post" role="form">
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.email')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.email')} disabled>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.organisation')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.organisation')} disabled>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.firstName')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.firstName')}>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.lastName')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.lastName')}>
               </div>
            </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label"></label>
               <div class="col-md-8">
                  <input type="submit" class="btn btn-primary" value=${i18n('account.safeChanges')}>
               </div>
            </div>
         </form>
      </div>


</@layout.peasyLayout>