<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Register successful">

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>User has been created. In this Version, you don't need to verify your Email, just log in into P.Easy</p>
			
			<!-- Change this to a button or input when using this as a form -->
			<a href="login.ftl.html"  class="btn btn-default btn-block">To the Login</a>

			<p>Test User first Name: ${userFirstName}</p>
			<p>Test User password: ${userPassword}</p>
		</div>
	</div>
</div>

</@layout.peasyLayout>