<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">P.easy</a>
    </div>

    <!-- Left part of the navigation -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Left part of navigation -->
      <ul class="nav navbar-nav">
      	<!-- Show either the links to register and login or the dashboard -->
      	<#if (session.email)??>
          <li><a href="/dashboard">${i18n('nav.dashboard')}</a></li>
        <#else>
          <li><a href="/register">${i18n('nav.register')}</a></li>
          <li><a href="/login">${i18n('nav.login')}</a></li>
        </#if>
      </ul>
      
      <#if (session.email)??>
        <!-- Right part of the navigation (only for logged-in users -->
        <ul class="nav navbar-nav navbar-right">
  
          <!-- Project dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/projects">${i18n('nav.projectOverview')}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/createProject/${session.email}">${i18n('nav.newProject')}</a></li>
            </ul>
          </li>

          <!-- Account dropdown -->
          <li class="dropdown">
            <a href="/account" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> ${session.firstName} ${session.lastName}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/account">${i18n('nav.myAccount')}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">${i18n('nav.logout')}</a></li>
            </ul>
          </li>
        </ul>
      </#if>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>