<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "edit Project">


   <h1>${i18n('project.name')}</h1>
   <hr>
   <div class="row">
      <!-- left column -->
      <div class="col-md-3">
         <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>${i18n('account.photoUploadSentence')}</h6>
            <input type="file" class="form-control">
         </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
         <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
         </div>
         <h3>${i18n('account.persInfo')}</h3>
         <form class="form-horizontal" role="form">
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('project.name')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('project.description')}>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.lastName')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.lastName')}>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.organisation')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.organisation')}>
               </div>
            </div>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.email')}</label>
               <div class="col-lg-8">
                  <input class="form-control" type="text" value=${i18n('account.email')}>
               </div>
            </div><div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
            <div class="form-group">
               <label class="col-lg-3 control-label">${i18n('account.selectLanguage')}</label>
               <div class="col-lg-8">
                  <div class="ui-select">
                     <select id="user_language" class="form-control">
                        <option value="" selected="selected">${i18n('account.selectLanguage')}</option>
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label"></label>
               <div class="col-md-8">
                  <input type="button" class="btn btn-primary" value=${i18n('edit.safe')}>
                  <span></span>
                  <input type="reset" class="btn btn-default" value=${i18n('edit.cancel')}>
               </div>
            </div>
         </form>
      </div>
   </div>


</@layout.peasyLayout>