<#import "../layout/Layout.ftl.html" as layout> <@layout.Layout "Members
page">
<div id="project">
	<div class="page-header">
		<h1>Project 1 - Members</h1>
	</div>
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
						<li role="presentation" class="brand-nav"><a
							href="/projects/123">Overview</a></li>
						<li role="presentation" class="brand-nav"><a
							href="/projects/123/tasks/123">Task Overview</a></li>
						<li role="presentation" class="brand-nav active"><a
							href="/projects/123/members">Members</a></li>
						<li role="presentation" class="brand-nav"><a
							href="/projects/123/report">Report</a></li>
						<li role="presentation" class="brand-nav"><a
							href="/projects/123/milestones">Milestones</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<p>
								<!--Start Members List-->
								<input type="text" id="myInput" onkeyup="myFunction()"
									placeholder="Search for Member">
							<table id="myTable">
								<tr class="header">
									<th style="width: 18%;">Firstname</th>
									<th style="width: 18%;">Lastname</th>
									<th style="width: 18%;">E-Mail</th>
									<th style="width: 18%;">Workpackage</th>
									<th style="width: 10%;"></th>
								</tr>
								<tr>
									<td>Engin</td>
									<td>Aslan</td>
									<td>tugrul.aslan@peasy.de</td>
									<td>W1,W2,...</td>
									<td><a href=""><span class="glyphicon glyphicon-pencil"></span></a>
									<a href=""><span class="glyphicon glyphicon-trash"></span></a></td>
								</tr>
								<tr>
									<td>Tugrul</td>
									<td>Aslan</td>
									<td>tugrul.aslan@peasy.de</td>
									<td>W1,W2,...</td>
									<td><a href=""><span class="glyphicon glyphicon-pencil"></span></a>
									<a href=""><span class="glyphicon glyphicon-trash"></span></a></td>
								</tr>
							</table>
							<!--End Members List-->
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
#project {
	margin: 2%;
}


/* Css for Filelisting and Uploading */
#myInput {
	background-image: url('/css/searchicon.png');
	/* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 30%;
	Full-width font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
}

#myTable tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #f1f1f1;
}

</style>


<script>
	function myFunction() {
		// Declare variables 
		var input, filter, table, tr, td, i;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>

</@layout.Layout>
