<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Members">

<div id="project">
	<div class="page-header">
		<h1>${i18n('members.projectMembers')}</h1>
	</div>
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
						<li role="presentation" class="brand-nav"><a
								href="/projects/123">${i18n("projectsidebar.overview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/123/tasks/123">${i18n("projectsidebar.taskoverview")}</a></li>
							<li role="presentation" class="brand-nav active"><a
								href="/projects/123/members" >${i18n("projectsidebar.members")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/123/report">${i18n("projectsidebar.report")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/123/milestones">${i18n("projectsidebar.milestones")}</a></li>
					</ul>
				</div>
				
				
	 <div class="container">
         <div class="row">
            <div class="col-md-8">
               <h4></h4>
               <div class="table-responsive">
                  <table id="mytable" class="table table-bordred table-striped">
                     <thead>
                        <th><input type="checkbox" id="checkall" /></th>
                        <th>${i18n('members.firstName')}</th>
                        <th>${i18n('members.lastName')}</th>
                        <th>${i18n('members.email')}</th>
                        <th>${i18n('members.editRow')}</th>
                        <th>${i18n('members.deleteRow')}</th>
                     </thead>
                     <tbody>
                        <tr>
                           <td><input type="checkbox" class="checkthis" /></td>
                           <td>Max</td>
                           <td>Mustermann</td>
                           <td>Mustermann@gmail.com</td>
                           <td>
                              <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                           </td>
                           <td>
                              <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
                           </td>
                        </tr>
                        <tr>
                        <tr>
                           <td><input type="checkbox" class="checkthis" /></td>
                           <td>Max</td>
                           <td>Mustermann</td>
                           <td>Mustermann@gmail.com</td>
                           <td>
                              <p data-placement="top" data-toggle="tooltip" title=${i18n('members.tooltipEdit')}><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                           </td>
                           <td>
                              <p data-placement="top" data-toggle="tooltip" title=${i18n('members.tooltipDelete')}><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="form-group">
                     <label class="col-md-0 control-label"></label>
                     <div class="col-md-0">
                        <input type="button" class="btn btn-primary" value=${i18n('members.addUser')}>
                        <span></span>
                        <input type="reset" class="btn btn-default" value=${i18n('members.cancelUser')}>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <ul class="pagination pull-right">
                     <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#">5</a></li>
                     <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  <h4 class="modal-title custom_align" id="Heading">${i18n('members.editYourDetail')}</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <input class="form-control " type="text" placeholder="Max">
                  </div>
                  <div class="form-group">
                     <input class="form-control " type="text" placeholder="Mustermann">
                  </div>
                  <div class="form-group">
                     <input class="form-control " type="text" placeholder="Mustermann@gmail.com">
                  </div>
               </div>
               <div class="modal-footer ">
                  <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> ${i18n('members.editUpdateButton')}</button>
               </div>
            </div>
            <!-- /.modal-content --> 
         </div>
         <!-- /.modal-dialog --> 
      </div>
      <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  <h4 class="modal-title custom_align" id="Heading">${i18n('members.deleteThisEntry')}</h4>
               </div>
               <div class="modal-body">
                  <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ${i18n('members.sureToDelete')}</div>
               </div>
               <div class="modal-footer ">
                  <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>${i18n('members.yesDelete')}</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> ${i18n('members.noDelete')}</button>
               </div>
            </div>
            <!-- /.modal-content --> 
         </div>
         <!-- /.modal-dialog --> 
      </div>
   </div>
</div>
</div>
</div>
</@layout.peasyLayout>
