<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Milestones"> <script>
	$('#sandbox-container .input-group.date').datepicker({
		calendarWeeks : true
	});
</script>


<body>
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="page-header">
				<h1>${i18n("milestones.header")}</h1>
			</div>
			<div class="container">
				<div class="row">
					<div role="tabpanel">
						<div class="col-sm-3">
							<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
								<li role="presentation" class="brand-nav"><a
									href="/projects/123">${i18n("projectsidebar.overview")}</a></li>
								<li role="presentation" class="brand-nav"><a
									href="/projects/123/tasks/123">${i18n("projectsidebar.taskoverview")}</a></li>
								<li role="presentation" class="brand-nav"><a
									href="/projects/123/members">${i18n("projectsidebar.members")}</a></li>
								<li role="presentation" class="brand-nav"><a
									href="/projects/123/report">${i18n("projectsidebar.report")}</a></li>
								<li role="presentation" class="brand-nav active"><a
									href="/projects/123/milestones">${i18n("projectsidebar.milestones")}</a></li>
							</ul>
						</div>
						<div class="col-sm-9">

							<form class="form-horizontal" action='' method="POST">

								<div class="control-group">
									<!-- Username -->
									<label class="control-label" for="first_name">${i18n('createMilestone.name')}</label>
									<div class="controls">
										<input type="text" id="first_name" name="name" placeholder=""
											class="form-control">
										<p class="help-block">${i18n('createMilestone.descriptionName')}</p>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="title">${i18n('createMilestone.tasks')}</label>
									<div class="controls">
										<select id="tasks" name="title" class="form-control">
											<option value="Miss">${i18n('createMilestone.task1')}</option>
											<option value="Mr">${i18n('createMilestone.task2')}</option>
										</select>
										<p class="help-block">${i18n('createMilestone.descriptionTitle')}</p>
									</div>
								</div>



								<div class="control-group">
									<label class="control-label" for="Deadline">${i18n('milestone.deadline')}</label>
									<div class="input-group date">
										<input type="text" id="deadline" class="form-control"><span
											class="input-group-addon"><i
											class="glyphicon glyphicon-th"></i></span>

									</div>
								</div>




<div class="modal-footer ">
                  <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>"${i18n('createMilestone.save')}"</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> "${i18n('createMilestone.cancel')}"</button>
               </div>
            </div>

							</form>
							
						</div>
						
					</div>
					
					
				</div>
				
			</div>
			
		</div>
		
	</div>

</body>
</@layout.peasyLayout> 