<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Milestones">
<body>
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="page-header">
				<h1>${project.name} - ${i18n("milestones.header")}</h1>
			</div>
			<div class="container">
				<div class="row">
					<div role="tabpanel">
						<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}">${i18n("projectsidebar.overview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/tasks/1">${i18n("projectsidebar.taskoverview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/members" >${i18n("projectsidebar.members")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/report">${i18n("projectsidebar.report")}</a></li>
							<li role="presentation" class="brand-nav active"><a
								href="/projects/${project.projectId}/milestones">${i18n("projectsidebar.milestones")}</a></li>
					</ul>
						</div>
						<div class="col-sm-9">
							<div class="btn-toolbar">
    <button class="btn btn-primary">New Milestone</button>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>Milestone</th>
          <th>In Time</th>
          <th>Status</th>
          <th>Left Time</th>
          <th>Tasks</th>
          <th>Deadline</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      <#list milestones as milestone>
        <tr>
          <td>${milestone.name}</td>
          <td>In Time</td>
          <td>90%</td>
		  <td>22 Days</td>
		  <td>
			<#list milestone.tasks as task>
			${task.name}
			</#list>
		  </td>
		  <td>${milestone.deadline}</td>
          <td>
              <a href="user.html"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
        </#list>
        </tbody>
    </table>
</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>
</@layout.peasyLayout> 