<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Projects">
<div id="project">
	<div class="page-header">

		<div id=title>
			<h1 id="projectName">${project.name}</h1>
			<button class="btn btn-primary btn-xs" data-title="editName"
				onclick="editNameButton()" id='editNameButton'>
				<span class="glyphicon glyphicon-pencil"></span>
			</button>

		</div>


		<div id=newNameForm style="display: none;">
			<div class="form-group">
				<label for="newName1">Select a project name</label> <input 
					type="text" class="form-control" id="newNameText">
			</div>

			<input type='button' onclick="saveNameButton()" id='saveNameButton'
				class="btn btn-success pull-right" value='Save'> <br>


		</div>

		<br>


		<script>
		function editNameButton() {
			$('#newNameForm').toggle('show');
			$('h1').toggle('hide');
			$('editNameButton').toggle('hide');
			//if ($("h1").text() == $("#newNameText").text()) {
			//$("h1").clone().appendTo("#newNameText");
			$('#newNameText').val($('#projectName').html());

		}

		function saveNameButton() {
			$('#newNameForm').toggle('hide');
			$('h1').toggle('show');
				
			
			if($('#newNameText').val()==null||$('#newNameText').val()==""){
				alert("Projektname muss gefuellt sein");
			}else{

			$('#projectName').text($('#newNameText').val());
			$.ajax({
				type : "POST",
				url : "/changeProjectname/"+${project.projectId}+"/newName/"+$('#newNameText').val(),
				success: function (response) {  
				},
				statusCode: {
				    500: function() {
				       // Only if your server returns a 403 status code can it come in this block. :-)
				       // alert("Error to update Projectname");
				    }
				}
				});
			}
		}
		</script>

	</div>
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
						<li role="presentation" class="brand-nav active"><a
							href="/projects/${project.projectId}">${i18n("projectsidebar.overview")}</a></li>
						<li role="presentation" class="brand-nav"><a
							href="/projects/${project.projectId}/tasks">${i18n("projectsidebar.taskoverview")}</a></li>
						<!-- 							<li role="presentation" class="brand-nav"><a -->
						<!-- 								href="/projects/${project.projectId}/members">${i18n("projectsidebar.members")}</a></li> -->
						<li role="presentation" class="brand-nav"><a
							href="/projects/${project.projectId}/report">${i18n("projectsidebar.report")}</a></li>
						<li role="presentation" class="brand-nav"><a
							href="/projects/${project.projectId}/milestones">${i18n("projectsidebar.milestones")}</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-panel active" id="tab1">
							<p>
								<!--Button Project Description Start -->


								<button class="btn btn-primary" data-toggle="collapse"
									data-target="#descriptionText">${i18n("project.description")}</button>
							<div id="descriptionText" class="collapse">
								<div class="textDescription" id="textDescritpion">${project.description}</div>

								<br> <input type='button' onclick="editButton()"
									id='editButton' class="btn btn-primary pull-right" value='Edit'>
								<br>
								<div id="editDescription" style="display: none;">
									<div class="form-group">
										<label for=" Email1msg">Edit Description</label>
										<textarea class="form-control" id="textareaDescription"
											rows="5"></textarea>
									</div>
									<input type='button' onclick="saveButton()" id='saveButton'
										class="btn btn-success pull-right" value='Save'> <br>



								</div>
							</div>

							<script>
							function editButton() {
								$('#editDescription').toggle('show');
								$('#textDescritpion').toggle('hide');
								$('#editButton').toggle('hide');
								$('#textareaDescription').val($('#textDescritpion').html());
								
							}

							function saveButton() {
								$('#textDescritpion').text($('#textareaDescription').val());
								$('#editDescription').toggle('hide');
								$('#textDescritpion').toggle('show');
								$('#editButton').toggle('show');
							
								
								
								$.ajax({
									type : "POST",
									url : "/changeProjectDescription/"+${project.projectId}+"/newDescription/"+$('#textareaDescription').val(),
									success: function (response) {  
									},
									statusCode: {
									    500: function() {
									       // Only if your server returns a 403 status code can it come in this block. :-)
									        //alert("Error to update Description");
									    }
									}
									});

							}
							</script>



							<br>
							<hr>


							<!-- Buttom Project Description End -->

							<!--Start Input Parameters of Project -->
							<TABLE>
								<TR class="spaceUnder">
									<TD><strong>${i18n("project.projectstart")}</strong></TD>
									<TD><input class="form-control" type="date"
										value="${project.start}" id="projectStart"
										onblur="changeProjectStart()"></TD>
								</TR>
								<TR class="spaceUnder">
									<TD><strong>${i18n("project.projectdeadline")} </strong></TD>
									<TD><input class="form-control" type="date"
										value="${project.deadline}" id="projectEnd"
										onblur="changeProjectDeadline()"></TD>
								</TR>
								<TR class="spaceUnder">
									<TD><strong>${i18n("project.projectbudget")}</strong></TD>
									<TD><input class="form-control" type="number" value='${project.budget}'
										id="projectBudget" onblur="changeProjectBudget()"></TD>
								</TR>
								<TR class="spaceUnder">
									<TD><strong>${i18n("project.projectmanager")}</strong></TD>
									<TD>
									<input class="form-control" type="text" value='${project.projectManager.firstName} ${project.projectManager.lastName}'
										id="projectBudget" disabled></TD>
									
									<TD>
									<input type="button" class="btn btn-primary"
									data-title="Add Manager" data-toggle="modal" data-target="#addManager"
									value="${i18n('members.projectMember')}">
									</TD>
								</TR>
								<TR class="spaceUnder">
									<TD><strong></strong>${i18n("project.status")}</TD>
									<TD>
									<select id="select" name="status" onchange="changeStatus()">
									      <option value="CREATED">CREATED</option>
										  <option value="PREPARATION">PREPARATION</option>
										  <option value="IMPLEMENTATION">IMPLEMENTATION</option>
										  <option value="CANCELED">CANCELED</option>
										  <option value="FINISHED" >FINISHED</option>
									</select>	
									</TD>
								</TR>
							</TABLE>
							<script>
							function changeStatus(){
								
								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/projectStatus/"+	$('select[name=status]').val(),
									success: function (response) {  
									},
									statusCode: {
									    500: function() {
									       // Only if your server returns a 403 status code can it come in this block. :-)
									       // alert("Error to update Project Start");
									    	}
										}
										});
								}
								
							window.onload = function() {
								$('#select').val('${project.status}');
								};
							function changeProjectStart(){
								
								

								if($('#projectStart').val()==null||$('#projectStart').val()==""){
									alert("Startdatum muss gefuellt sein");
								}else{
						
								if(Date.parse($('#projectStart').val()) > Date.parse($('#projectEnd').val())){
									alert("Startdatum muss vor Enddatum liegen");
								}else{	
								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/projectStart/"+$('#projectStart').val(),
									success: function (response) {  
									},
									statusCode: {
									    500: function() {
									       // Only if your server returns a 403 status code can it come in this block. :-)
									       // alert("Error to update Project Start");
									    	}
										}
										});
									}
								}
							}
							
							function changeProjectDeadline(){
								if($('#projectEnd').val()==null||$('#projectEnd').val()==""){
									
									alert("Deadline muss gefuellt sein");
								}else{
									if(Date.parse($('#projectStart').val()) > Date.parse($('#projectEnd').val())){
										alert("Enddatum muss vor Startdatum liegen");
									}else{	

								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/projectDeadline/"+$('#projectEnd').val(),
									success: function (response) {  
									},
									statusCode: {
									    500: function() {
									       // Only if your server returns a 403 status code can it come in this block. :-)
									        //alert("Error to update DeadLine");
									    }
									}
									});
									}	
								}	
							}	
										
							function changeProjectBudget(){

							

								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/projectBudget/"+$('#projectBudget').val(),
									success: function (response) {  
									},
									statusCode: {
									    500: function() {
									       // Only if your server returns a 403 status code can it come in this block. :-)
									        //alert("Error to update Budget");
									    }
									}
									});
	
							}
							</script>
							<!--End Input Parameters of Project -->
							<hr>
							<!--Start Block -->


							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<h4></h4>
										<div class="table-responsive">
											<h4>
												<strong>Project Members</strong>
											</h4>
											<table id="mytable" class="table table-bordred table-striped">
												<thead>
													<th>${i18n('members.firstName')}</th>
													<th>${i18n('members.lastName')}</th>
													<th>${i18n('members.email')}</th>
													<th>${i18n('members.deleteRow')}</th>
												</thead>
												<tbody>
													<#list members as member>
													<tr>
														<td>${member.firstName}</td>
														<td>${member.lastName}</td>
														<td>${member.emailAddress}</td>
														<td>
															<p data-placement="top" data-toggle="tooltip"
																title="Delete">
																<button class="btn btn-danger btn-xs"
																 onclick="unassignUser( '${member.emailAddress}')">
																	<span class="glyphicon glyphicon-trash"></span>
																</button>
															</p>
														</td>
													</tr>
													</#list>
												</tbody>
											</table>
											
											<script>
											function unassignUser(email){

												$.ajax({
													type : "POST",
													url : "/changeProject/"+${project.projectId}+"/deleteMember/"+email,
													success: function (response) {  
														window.location.reload(true);													
													},
													statusCode: {
													    500: function() {
													       // Only if your server returns a 403 status code can it come in this block. :-)
													        //alert("Error to update DeadLine");
															window.location.reload(true);													
													    }
													}
												});
											}	
										
											</script>
											
											<div class="form-group">
												<label class="col-md-0 control-label"></label>
												<div class="col-md-0">
													<input type="button" class="btn btn-primary"
														data-title="Add" data-toggle="modal" data-target="#add"
														value="${i18n('members.addUser')}"> <span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 							Modal for add User to Project -->
							<div class="modal fade" id="add" tabindex="-1" role="dialog"
								aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true" >
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<h4 class="modal-title custom_align" id="Heading">"${i18n('members.editYourDetail')}"</h4>
										</div>
										<div class="modal-body">
										<table>
										<#list users as user>
										<tr><td>
										${user.firstName}
										</td>
										<td>
										,
										</td>
										<td>
									     ${user.lastName}
										</td>
										<td><button type="button" class="btn" onclick="addUserToProject('${user.emailAddress}')"><span class="glyphicon glyphicon-ok-sign"></span></button></td>
										</tr>
										</#list>
										</table>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<script>
							function addUserToProject(email){
								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/addMember/"+email,
									success: function (response) {  
										window.location.reload(true);
									
									},
									statusCode: {
									    500: function() {
									    	window.location.reload(true);
									    	// Only if your server returns a 403 status code can it come in this block. :-)
									       // alert("Error to update Project Start");
									    	}
										}
										});
										
							}
							</script>


							<!-- 							Modal for change ProjectManager -->
							<div class="modal fade" id="addManager" tabindex="-1" role="dialog"
								aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true" >
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<h4 class="modal-title custom_align" id="Heading">${i18n('members.addManager')}</h4>
										</div>
										<div class="modal-body">
										<table>
										<#list userManagers as userManager>
										<tr><td>
										${userManager.firstName}
										</td>
										<td>
										,
										</td>
										<td>
									     ${userManager.lastName}
										</td>
										<td><button type="button" class="btn" onclick="changeManager('${userManager.emailAddress}')"><span class="glyphicon glyphicon-ok-sign"></span></button></td>
										</tr>
										</#list>
										</table>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<script>
							function changeManager(email){
								$.ajax({
									type : "POST",
									url : "/changeProject/"+${project.projectId}+"/changeManager/"+email,
									success: function (response) {  
										window.location.reload(true);
									
									},
									statusCode: {
									    500: function() {
									    	window.location.reload(true);
									    	// Only if your server returns a 403 status code can it come in this block. :-)
									       // alert("Error to update Project Start");
									    	}
										}
										});
										
							}
							</script>
							<hr>

							<!--Start Block -->
							<!--http://bootsnipp.com/snippets/40W9n-->
							<div class="panel panel-primary">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-comment"></span>
									${i18n("project.blog")}
								</div>
								<div class="panel-body body-panel">
									<ul class="chat">
										<#list blogEntries as blogentry>
										<li class="left clearfix"><span
											class="chat-img pull-left"> <a href=""><span
													class="glyphicon glyphicon-trash"></span></a>
										</span>
											<div class="chat-body clearfix">
												<div class="header">
													<strong class="primary-font">${blogentry.author.firstName}
														${blogentry.author.lastName}- ${blogentry.title}</strong> <small
														class="pull-right text-muted"> <span
														class="glyphicon glyphicon-time"></span>${blogentry.creationDate}
													</small>
												</div>
												<p>${blogentry.text}</p>
											</div></li>
										</#list>
										<!--                                         if user then right like facebook -->
										<!--                                         <li class="right clearfix"><span class="chat-img pull-right"> -->
									</ul>
								</div>
								<div class="panel-footer clearfix">
									<form method="post" action=''>
										<textarea name="title" class="form-control" rows="1"
											placeholder="${i18n("project.typeYourTitle")}"></textarea>
										<br>
										<textarea name="text" class="form-control" rows="2"
											placeholder="${i18n("project.typeYourMessage")}"></textarea>
										<span
											class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12"
											style="margin-top: 10px">
											<button onclick="www.google.de"
												class="btn btn-warning btn-lg btn-block" id="btn-chat">${i18n("project.addblog")}</button>
										</span>
									</form>
								</div>
							</div>

							<!-- End Block -->
							<hr>
							<!--start Fileupload list -->

							<input type="text" id="myInput" onkeyup="myFunction()"
								placeholder="${i18n("project.fileSearch")}">
							<!-- 							<div class="form-group has-feedback"> -->
							<!-- 							    <input type="text" class="form-control"  onkeyup="myFunction()" -->
							<!-- 															placeholder="File Search" /> -->
							<!-- 							    <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
							<!-- 							</div> -->

							<table id="myTable">
								<tr class="header">
									<th style="width: 80%;">Files</th>
									<th style="width: 10%;"></th>
									<th style="width: 10%;"></th>

								</tr>
								<#list files as file>
								<tr>
									<td><a href="">${file.title}</a></td>
									<td><a href='/download/${file.fileId}/project'><span
											class="glyphicon glyphicon-download"></span></a></td>
									<td><a
										href="/delete/project/${file.fileId}/${project.projectId}"
										data-method="delete"><span
											class="glyphicon glyphicon-trash"></span></a></td>
								</tr>
								</#list>
							</table>
							<!--End FileUpload list-->
							<br>
							<!--Start Fileupload -->
							<form method="post" enctype="multipart/form-data"
								action='/uploadFinish/${project.projectId}'>
								<br> <label class="custom-file"> <input type="file"
									name="file" class="custom-file-input"> <span
									class="custom-file-control"></span> <input type="text"
									name="type" value="project" style="visibility: hidden">
								</label>
								<button type="submit" class="btn btn-primary">${i18n("project.submit")}</button>
							</form>
							<!--End Fileupload -->


						</div>
					</div>
				</div>
			</div>




		</div>
	</div>

</div>

<script>
	function myFunction() {
		// Declare variables 
		var input, filter, table, tr, td, i;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script> </@layout.peasyLayout> 