<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Projects">
<link rel="stylesheet" href="../assets/css/project.css">
<div id="project">
    <div class="page-header">
    <h1>${project.name}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div role="tabpanel">
                <div class="col-sm-3">
                    <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                       <li role="presentation" class="brand-nav active"><a
								href="/projects/${project.projectId}">${i18n("projectsidebar.overview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/tasks/1">${i18n("projectsidebar.taskoverview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/members">${i18n("projectsidebar.members")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/report">${i18n("projectsidebar.report")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/milestones">${i18n("projectsidebar.milestones")}</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <p>
                                <!--Button Project Description Start -->
                                <button class="btn btn-primary" data-toggle="collapse"
                                        data-target="#details1">${i18n("project.description")}</button>
                            <div id="details1" class="collapse">${project.description}</div>
                            <br>
                            <!-- Buttom Project Description End -->

                            <!--Start Input Parameters of Project -->
                            <TABLE>
                                <TR class="spaceUnder">
                                    <TD><strong>${i18n("project.projectstart")}</strong></TD>
                                    <TD><input class="form-control" type="date"
                                               value='${project.start}' id="example-date-input"></TD>
                                </TR>
                                <TR class="spaceUnder">
                                    <TD><strong>${i18n("project.projectdeadline")}</strong></TD>
                                    <TD><input class="form-control" type="date"
                                               value='${project.deadline}' id="example-date-input"></TD>
                                </TR>
                                <TR class="spaceUnder">
                                    <TD><strong>${i18n("project.projectbudget")}</strong></TD>
                                    <TD><input class="form-control" type="number" value='${project.budget}'
                                               id="example-number-input"></TD>
                                </TR>
                            </TABLE>
                            <!--End Input Parameters of Project -->
                            <hr>
                            <!--Start Block -->
                            <!--http://bootsnipp.com/snippets/40W9n-->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-comment"></span> ${i18n("project.blog")}
                                </div>
                                <div class="panel-body body-panel">
                                    <ul class="chat">
                                    <#list blogEntries as blogentry>
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                                <a href=""><span class="glyphicon glyphicon-trash"></span></a>
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">${blogentry.author.firstName} ${blogentry.author.lastName}- ${blogentry.title}</strong> <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>${blogentry.creationDate}</small>
                                                </div>
                                                <p>
                                                     ${blogentry.text}
                                                </p>
                                            </div>
                                        </li>
                                        </#list>
<!--                                         if user then right like facebook -->
<!--                                         <li class="right clearfix"><span class="chat-img pull-right"> -->
                                    </ul>
                                </div>
                                <div class="panel-footer clearfix">
                                <form method="post" action=''>
                                    <textarea name="title" class="form-control" rows="1" placeholder="${i18n("project.typeYourTitle")}"></textarea>
                                    <br>
                                    <textarea name="text" class="form-control" rows="2" placeholder="${i18n("project.typeYourMessage")}"></textarea>
                                    <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
                                        <button onclick="www.google.de" class="btn btn-warning btn-lg btn-block" id="btn-chat">${i18n("project.addblog")}</button>
                                    </span>
                                    </form>
                                </div>
                            </div>

                            <!-- End Block -->
                            <hr>
                            <!--start Fileupload list -->

                            <input type="text" id="myInput" onkeyup="myFunction()"
                                   placeholder="${i18n("project.fileSearch")}">
                            <!-- 							<div class="form-group has-feedback"> -->
                            <!-- 							    <input type="text" class="form-control"  onkeyup="myFunction()" -->
                            <!-- 															placeholder="File Search" /> -->
                            <!-- 							    <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
                            <!-- 							</div> -->

                            <table id="myTable">
                                <tr class="header">
                                    <th style="width: 80%;">Files</th>
                                    <th style="width: 10%;"></th>
                                    <th style="width: 10%;"></th>

                                </tr>
                                <#list files as file>
                                <tr>
                                    <td><a href="">${file.title}</a></td>
                                    <td><a href='/download/${file.fileId}/project'><span class="glyphicon glyphicon-download"></span></a></td>
                                    <td><a href="/delete/project/${file.fileId}/${project.projectId}" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
							</#list>
                            </table>
                            <!--End FileUpload list-->
                            <br>
                            <!--Start Fileupload -->
                            <form method="post" enctype="multipart/form-data"
                                  action='/uploadFinish/${project.projectId}'>
                                <br> <label class="custom-file"> 
                                <input type="file" name="file" class="custom-file-input"> <span class="custom-file-control"></span>
                                <input type="text" name="type" value ="project" style="visibility: hidden">
                                </label>
                                <button type="submit" class="btn btn-primary">${i18n("project.submit")}</button>
                            </form>
                            <!--End Fileupload -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        // Declare variables 
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</@layout.peasyLayout>
