<#import "../layout/peasyLayout.ftl.html" as layout>
<@layout.peasyLayout "Report">
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load("current", {
		packages : [ "corechart" ]
	});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization
				.arrayToDataTable([ [ 'Task', 'Hours per Day' ],
						[ 'Finished', ${finished} ], [ 'Open', ${open} ] ]);

		var options = {
			title : 'Tasks finished in average',
			pieHole : 0.4,
		};

		var chart = new google.visualization.PieChart(document
				.getElementById('donutchart1'));
		chart.draw(data, options);
	}
</script>
</head>
<div id="project">
	<div class="page-header">
		<h1>${project.name} - ${i18n("report.header")}</h1>
	</div>
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}">${i18n("projectsidebar.overview")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/tasks">${i18n("projectsidebar.taskoverview")}</a></li>
<!-- 							<li role="presentation" class="brand-nav"><a -->
<!-- 								href="/projects/${project.projectId}/members" >${i18n("projectsidebar.members")}</a></li> -->
							<li role="presentation" class="brand-nav active"><a
								href="/projects/${project.projectId}/report">${i18n("projectsidebar.report")}</a></li>
							<li role="presentation" class="brand-nav"><a
								href="/projects/${project.projectId}/milestones">${i18n("projectsidebar.milestones")}</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<p>
							<div class="container">
								<div class="row"></div>
							</div>
						</div>
					</div>
					<!-- /panel -->

					<!-- /.row -->
					<div class="row">
						<!-- /.col-lg-12 -->
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-bar-chart"></i> ${i18n("report.chart1")}
								</div>
								<!-- /.panel-heading -->


								<div class="panel-body">

									<div class="container-fluid">
										<div class="row">
<!-- 											<div class="col-md-6 col-sm-6"> -->
<!-- 												<div id="donutchart" style="width: 400px; height: 250px;"></div> -->
<!-- 											</div> -->
											<div class="col-md-6 col-sm-6">
												<div id="donutchart1" style="width: 400px; height: 250px;"></div>
											</div>
										</div>
									</div>
									<h3>Project Details</h6>
									<div class="progress">
										<div class="progress-bar progress-bar-success"
											role="progressbar" style="width: ${startrel}%">${projectstart} ${start}</div>
										<div class="progress-bar progress-bar-warning"
											role="progressbar" style="width: ${endrel}%">${projectend} ${end}
										</div>
									</div>
								</div>
								<!-- /panel -->
							</div>
							<!-- /.panel-body -->
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>
	</div>
</div>

</@layout.peasyLayout> 